<!doctype html>
<html>
  <head>
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name = "viewport" content = "width=device-width, initial-scale=1.0, user-scalable=no">
      <link rel="apple-touch-icon" href="icon.png">
      <link rel="stylesheet" href="homescreen.css"/>
      <meta http-equiv="Pragma" content="no-cache"/>
      <meta http-equiv="Expires" content="-1"/>
      <script src="vue.js"></script>
      <script src="sugar.js"></script>
      <script src="collection_manager.js"></script>
  </head>
  <body>
    <h1> ALZ+ </h1>
    <button id="back" style="display:none"> &lsaquo; Back </button>
    <div id="people_screen" style="display:none">
      <div id="people_list" class="object_list">
        <div class="person object" v-for="object in objects" v-on:click="display" v-bind:style="'background-image: url(' + object.photo + ')'">
          <div class="info">
            <div class="name">{{object.name }}</div>
            <div class="title">{{object.title}}</div>
          </div>
        </div>
      </div>
    </div>
    
    <div id= "things_screen" style="display:none">
      <div id="things_list" class="object_list">
        <div class="thing object" v-for="object in objects" v-on:click="display" v-bind:style="'background-image: url(' + object.photo + ')'">
          <div class='name info'>{{object.name}}</div>
        </div>
      </div>
    </div>
    
    <main_menu id="menu">
      <button id="people">
        People
      </button>
      <button id= "things">
        Things
      </button>
      <button id="reminders">
        Reminders
      </button>
      <button id="help">
        Help
      </button>
      <button id="medical">
        About Me
      </button>
      <button id="clock">
        Clock
      </button>
      <button id="settings">
        Settings
      </button>
    </main_menu>

    <div id="help_screen" style="display:none">
      <a href="tel://922">
        Emergency<br/> 911
      </a>
      
      <a v-bind:href="object.phone | tel" class="emergency_contact" v-for="object in objects">
        {{object.name }}<br/>{{object.phone}}
      </a>
      

    </div>
    
    <div id="about_screen" style="display:none">
        <div class="" v-for="person in objects">
            <img v-bind:src="person.photo"/>
            <div>Name: {{person.name }}</div>
            <div>Birthday: {{person.birthday}}</div>
            <div>Address: {{person.address }}</div>
            <div>Allergies: {{person.allergies }}</div>
            <div>Caregiver: {{person.caregiver_name }}</div>
            <div>Address: {{person.caregiver_address }}</div>
            <a v-bind:href="person.caregiver_phone | tel">Phone: {{person.caregiver_phone }}</a>
        </div>
      </form>
      
    </div>
    
    <div id="settings_screen" style="display:none">
      <div>
      Add Person:
      <form id="add_person">
        <input v-model="name"  type="text" placeholder="Name" />
        <input v-model="title" type="text" placeholder="Title"/>
        <input type="file" id="file"/>
        <button v-on:click="add">Add</button>
      </form>

      <button id="reset_people">Reset People</button>
      </div>
      <div>
      Add Thing:
      <form id="add_thing">
        <input v-model="name" type="text" placeholder="Name"/>
        <input type="file" id="file"/>
        <button v-on:click="add">Add</button>
      </form>

      <button id="reset_things">Reset Things</button>
      
      </div>
      <div>
       Add Emergency Contact:
      <form id="add_contact">
        <input v-model="name" type="text" placeholder="Name"/>
        <input v-model="phone" type="text" placeholder="Phone"/>
        <button v-on:click="add">Add</button>
      </form>
      
      <button id="reset_contacts">Reset Emergency Contacts</button>
      </div>
      
      <div>
       Add About Me:
      <form id="add_about_me">
        <input type="file" id="file"/>
        <input v-model="name" type="text" placeholder="Name"/>
        <input v-model="birthday" type="date" placeholder="Birthday"/>
        <input v-model="address" type="text" placeholder="Address"/>
        <input v-model="allergies" type="text" placeholder="Allergies"/>
        <input v-model="caregiver_name" type="text" placeholder="Caregiver"/>
        <input v-model="caregiver_address" type="text" placeholder="Caregiver Address"/>
        <input v-model="caregiver_phone" type="text" placeholder="Caregiver Phone"/>
        <button v-on:click="add">Add</button>
      </form>
      
      <button id="reset_about_me">Reset About Me</button>
      </div>
    </div>
    <script src="homescreen.js"></script>
  </body>
</html>